In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.svm import SVC
from sklearn.neighbors import NearestCentroid
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import cross_val_score

In [2]:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

Here i just imported all of the needed things:(panda, and the differnet techniques like decisiontree,SVC,NearestCentroid,..)

In [3]:
train_data=pd.read_csv('train.csv')

Adding the train data

In [4]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

viewing the data to understand it and know the clomuns

In [5]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

some statistics about every column

In [6]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

watching the columns and seeing which of them contains null values

In [7]:
train_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

All the columns in the trainning data

In [8]:
train_data.dropna(subset=["Embarked"],inplace=True)

removing the null values from the Embarked column
note: these are only 2 entries so we may remove them,but we can't do this on the Age column as this will remove alot of data that the model can benefit from

In [9]:
#titanic_features={"PassengerId","Sex","Pclass","SibSp","Parch","Fare","Age"}
#titanic_features={"PassengerId","Sex","Pclass","SibSp","Parch","Fare","Age","Embarked"}
#titanic_features={"PassengerId","Sex","Pclass","SibSp","Fare","Age","Embarked"}
#titanic_features={"PassengerId","Sex","Pclass","SibSp","Fare","Age"}
#titanic_features={"Parch","Sex","Pclass","SibSp","Fare","Age"}
titanic_features={"Sex","Pclass","SibSp","Fare","Age","Parch"}
#titanic_features={"PassengerId","Sex","Pclass","Parch","Fare","Age"}

Here i tried different features to train the model with,but the one which had the highest percentages was the uncommented one so i decided that it was the one that i will use

In [10]:
x=train_data[titanic_features]

data frame x is the df that we contains the features that we are going to train the model on

In [11]:
target=train_data.Survived

the target of the trainning which is the survival

In [12]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fare    889 non-null    float64
 1   Parch   889 non-null    int64
 2   SibSp   889 non-null    int64
 3   Age     712 non-null    float64
 4   Sex     889 non-null    object
 5   Pclass  889 non-null    int64
dtypes: float64(2), int64(3), object(1)
memory usage: 48.6+ KB

viewing x df to know which columns contain null values

In [13]:
x.Age=x.Age.fillna(train_data.Age.mean())

C:\Users\Uaser\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Filling the NULL values in the Age column with the mean of the Age column(Average)

In [14]:
x.isnull().sum()

Fare      0
Parch     0
SibSp     0
Age       0
Sex       0
Pclass    0
dtype: int64

making sure that the x df doesn't contain ant null values

In [15]:
x=pd.get_dummies(x)
train_X, val_X, train_y, val_y = train_test_split(x,target,random_state=1)

converting the df's categoorical columns into clomuns that can be trained and splitting the data frame to evaluate the differnet model techniques

In [16]:
model=SVC(probability=True)
model.fit(train_X,train_y)
predictions=model.predict(val_X)
accuracy = cross_val_score(model, x, target, cv=10)
print(accuracy)
print("\n accuracy: ",accuracy.mean())

[0.61797753 0.58426966 0.68539326 0.74157303 0.69662921 0.69662921
 0.68539326 0.71910112 0.70786517 0.67045455]

 accuracy:  0.6805286006128703

evaluating the SVC model

In [17]:
model = NearestCentroid()
model.fit(train_X,train_y)
predictions=model.predict(val_X)
accuracy = cross_val_score(model, x, target, cv=10)
print(accuracy)
print("\n accuracy: ",accuracy.mean())

[0.5505618  0.56179775 0.68539326 0.70786517 0.6741573  0.66292135
 0.73033708 0.69662921 0.71910112 0.67045455]

 accuracy:  0.6659218590398366

evaluating the nearest centroid model

In [18]:
model = GaussianNB()
model.fit(train_X,train_y)
predictions=model.predict(val_X)
accuracy = cross_val_score(model, x, target, cv=10)
print(accuracy)
print("\n accuracy: ",accuracy.mean())

[0.80898876 0.7752809  0.7752809  0.84269663 0.79775281 0.79775281
 0.7752809  0.75280899 0.82022472 0.79545455]

 accuracy:  0.7941521961184883

evaluating the Gaussian NB model
note: it turned out the one with the highest percentage

In [19]:
model= DecisionTreeRegressor(random_state=1)
model.fit(train_X,train_y)
predictions=model.predict(val_X)
mae = mean_absolute_error(val_y,predictions)
print(1-mae)

0.7833653640828528

evaluating the decisionTreeRegressor model

In [20]:
titanic_model=GaussianNB()
titanic_model.fit(x,target)

GaussianNB()

trainning the titanic model with GaussianNB as it was the highest model

In [21]:
test_data=pd.read_csv('test.csv')

importing the train data

In [22]:
test_data=test_data[titanic_features]
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fare    417 non-null    float64
 1   Parch   418 non-null    int64
 2   SibSp   418 non-null    int64
 3   Age     332 non-null    float64
 4   Sex     418 non-null    object
 5   Pclass  418 non-null    int64
dtypes: float64(2), int64(3), object(1)
memory usage: 19.7+ KB

specifying the features and searching for null values

In [23]:
test_data.Fare=test_data.Fare.fillna(train_data.Fare.mean())
test_data.Age=test_data.Age.fillna(train_data.Age.mean())

Filling the Age and Fare columns with the trainning data mean

In [24]:
test_data.isnull().sum()

Fare      0
Parch     0
SibSp     0
Age       0
Sex       0
Pclass    0
dtype: int64

making sure there are no NULL values

In [25]:
test_data=pd.get_dummies(test_data)
test=titanic_model.predict(test_data).astype(int)

Converting the categorical columns into columns that can be predicted and predicting the test data

In [26]:
len(test)

418

double checking that the data contains 418 entry

In [27]:
test2=pd.read_csv('test.csv')
output_df={'PassengerId':test2.PassengerId,'Survived':test}
submission=pd.DataFrame(data=output_df)
submission.to_csv('Final.csv', index =False)

Putting the results into df and saving it into my PC